version: '3.8'
services:
  mongo:
    image: mongo:7
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: chat_backend
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/chatdb
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=supersecreto2025_espe
      - ADMIN_USER=admin
      - ADMIN_PASS=admin123
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: chat_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo-data: